In [1]:
print("Starting Python Notebook")

Starting Python Notebook

In [2]:
!brew install apache-spark

==> Downloading https://formulae.brew.sh/api/formula.jws.json
######################################################################### 100.0%
==> Downloading https://formulae.brew.sh/api/cask.jws.json
######################################################################### 100.0%
Warning: apache-spark 3.5.0 is already installed and up-to-date.
To reinstall 3.5.0, run:
  brew reinstall apache-spark

In [3]:
print("Completed installing apache-spark")

Completed installing apache-spark

In [4]:
!brew install openjdk@11

Warning: openjdk@11 11.0.20.1 is already installed and up-to-date.
To reinstall 11.0.20.1, run:
  brew reinstall openjdk@11

### The above Java installation doesn't work immediately. If you do a "re-install" it tells which commands need to be run to fix the path variable etc.

   ### (echo; echo 'eval "$(/opt/homebrew/bin/brew shellenv)"') >> /Users/ganapathychidambaram/.zprofile

   
   ### eval "$(/opt/homebrew/bin/brew shellenv)"

In [5]:
!which java

/usr/bin/java

In [6]:
!export JAVA_HOME=/usr
!export PATH=$JAVA_HOME/bin:$PATH

In [7]:
!java --version

openjdk 11.0.20.1 2023-08-24
OpenJDK Runtime Environment Homebrew (build 11.0.20.1+0)
OpenJDK 64-Bit Server VM Homebrew (build 11.0.20.1+0, mixed mode)

In [8]:
!export SPARK_HOME=/opt/homebrew/Cellar/apache-spark/3.3.0/libexec
!export PATH=/opt/homebrew/Cellar/apache-spark/3.3.0/bin:$PATH

# looks the case of the JAVA_HOME variable made all the difference    

!export PYSPARK_SUBMIT_ARGS="--master local[3] pyspark-shell"

In [9]:
!pip3 install pyspark
!pip3 install findspark

Requirement already satisfied: pyspark in /opt/homebrew/lib/python3.11/site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /opt/homebrew/lib/python3.11/site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: findspark in /opt/homebrew/lib/python3.11/site-packages (2.0.1)

In [10]:
import findspark
findspark.init()

In [11]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

23/09/26 20:53:57 WARN Utils: Your hostname, Ganapathys-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.7 instead (on interface en0)
23/09/26 20:53:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/26 20:53:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [12]:
applications_df = spark.read.format("csv").option("header", "true").option("delimiter", "\t").load("/Users/ganapathychidambaram/Desktop/predixions/apps.tsv")

In [13]:
applications_df.show()

+------+--------+-----+--------------------+-------+
|UserID|WindowID|Split|     ApplicationDate|  JobID|
+------+--------+-----+--------------------+-------+
|    47|       1|Train|2012-04-04 15:56:...| 169528|
|    47|       1|Train|2012-04-06 01:03:...| 284009|
|    47|       1|Train|2012-04-05 02:40:...|   2121|
|    47|       1|Train|2012-04-05 02:37:...| 848187|
|    47|       1|Train|2012-04-05 22:44:...| 733748|
|    47|       1|Train|2012-04-05 02:34:...| 576958|
|    47|       1|Train|2012-04-05 22:55:...| 262470|
|    47|       1|Train|2012-04-05 02:38:...| 602298|
|    72|       1|Train|2012-04-02 22:36:...| 834662|
|    72|       1|Train|2012-04-07 15:19:...|1020903|
|    72|       1|Train|2012-04-07 17:38:...| 180313|
|    72|       1|Train|2012-04-30 20:05:...| 480634|
|    72|       1|Train|2012-04-20 02:51:...| 564184|
|    80|       1|Train|2012-04-04 10:53:...| 908909|
|   123|       1|Train|2012-04-02 20:57:...|1080147|
|   123|       1|Train|2012-04-02 21:03:...|1080148|
|   131|       1|Train|2012-04-02 14:06:...| 688863|
|   131|       1|Train|2012-04-05 15:08:...|1092900|
|   131|       1|Train|2012-04-05 17:09:...|  50183|
|   162|       1|Train|2012-04-06 14:25:...|  69667|
+------+--------+-----+--------------------+-------+
only showing top 20 rows

In [14]:
applications_df.describe().show()

23/09/26 20:54:01 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+------------------+-------+--------------------+------------------+
|summary|            UserID|          WindowID|  Split|     ApplicationDate|             JobID|
+-------+------------------+------------------+-------+--------------------+------------------+
|  count|           1603111|           1603111|1603111|             1603111|           1603111|
|   mean| 762702.2528109407|3.6435674136101617|   null|                null| 565261.5271032386|
| stddev|422564.90726027224|2.0290820972908996|   null|                null|323913.61690280534|
|    min|           1000000|                 1|   Test|2012-04-01 00:00:...|                 1|
|    max|            999982|                 7|  Train|2012-06-26 23:59:...|            999999|
+-------+------------------+------------------+-------+--------------------+------------------+

pre-processing = Drop null values

In [15]:
applications_df = applications_df.dropna()

In [16]:
applications_df.describe().show()

+-------+------------------+------------------+-------+--------------------+------------------+
|summary|            UserID|          WindowID|  Split|     ApplicationDate|             JobID|
+-------+------------------+------------------+-------+--------------------+------------------+
|  count|           1603111|           1603111|1603111|             1603111|           1603111|
|   mean| 762702.2528109407|3.6435674136101617|   null|                null| 565261.5271032386|
| stddev|422564.90726027224|2.0290820972908996|   null|                null|323913.61690280534|
|    min|           1000000|                 1|   Test|2012-04-01 00:00:...|                 1|
|    max|            999982|                 7|  Train|2012-06-26 23:59:...|            999999|
+-------+------------------+------------------+-------+--------------------+------------------+

In [17]:
users_df = spark.read.format("csv").option("header", "true").option("delimiter", "\t").load("/Users/ganapathychidambaram/Desktop/predixions/users.tsv")

In [18]:
users_df.show()

+------+--------+-----+------------+-----+-------+-------+-----------+--------------------+-------------------+----------------+--------------------+-----------------+-------------+--------------+
|UserID|WindowID|Split|        City|State|Country|ZipCode| DegreeType|               Major|     GraduationDate|WorkHistoryCount|TotalYearsExperience|CurrentlyEmployed|ManagedOthers|ManagedHowMany|
+------+--------+-----+------------+-----+-------+-------+-----------+--------------------+-------------------+----------------+--------------------+-----------------+-------------+--------------+
|    47|       1|Train|   Paramount|   CA|     US|  90723|High School|                null|1999-06-01 00:00:00|               3|                  10|              Yes|           No|             0|
|    72|       1|Train|     La Mesa|   CA|     US|  91941|   Master's|        Anthropology|2011-01-01 00:00:00|              10|                   8|              Yes|           No|             0|
|    80|       1|Train|Williamstown|   NJ|     US|  08094|High School|      Not Applicable|1985-06-01 00:00:00|               5|                  11|              Yes|          Yes|             5|
|    98|       1|Train|     Astoria|   NY|     US|  11105|   Master's|          Journalism|2007-05-01 00:00:00|               3|                   3|              Yes|           No|             0|
|   123|       1|Train| Baton Rouge|   LA|     US|  70808| Bachelor's|Agricultural Busi...|2011-05-01 00:00:00|               1|                   9|              Yes|           No|             0|
|   131|       1|Train|     Houston|   TX|     US|  77077| Bachelor's|             Finance|1998-05-01 00:00:00|               3|                  14|             null|           No|             0|
|   162|       1|Train|  Long Beach|   CA|     US|  90807|   Master's|      I/O Psychology|2012-05-01 00:00:00|              10|                  25|               No|           No|             0|
|   178|       1|Train|  Greenville|   SC|     US|  29609|High School|      Not Applicable|               null|               6|                  35|               No|          Yes|             4|
|   203|       1|Train|  Colchester|   VT|     US|  05446|   Master's|          Burlington|               null|               4|                   3|              Yes|           No|             0|
|   344|       1|Train|Newport News|   VA|     US|  23601|High School|      Not Applicable|2007-01-01 00:00:00|               3|                   7|              Yes|           No|             0|
|   395|       1|Train|    Wildwood|   MO|     US|  63038| Bachelor's|           Marketing|               null|              10|                  24|              Yes|           No|             0|
|   411|       1|Train|        Lutz|   FL|     US|  33559|       None|                null|               null|               3|                  11|              Yes|          Yes|             1|
|   415|       1|Train|      Leland|   NC|     US|  28451|Associate's|Office Systems Te...|2008-05-01 00:00:00|               5|                   7|             null|           No|             0|
|   437|       1|Train|  Brookville|   OH|     US|  45309|Associate's|             Nursing|2010-05-01 00:00:00|               4|                  15|              Yes|           No|             0|
|   483|       1|Train|        York|   PA|     US|  17406| Bachelor's|          Accounting|1989-01-01 00:00:00|               6|                  22|             null|           No|             0|
|   496|       1|Train|      Easley|   SC|     US|  29640|High School|      Not Applicable|1987-01-01 00:00:00|              10|                  21|               No|           No|             0|
|   501|       1|Train|  Cape Coral|   FL|     US|  33990| Bachelor's|                null|               null|               4|                  37|               No|           No|             0|
|   524|       1|Train|    Florence|   SC|     US|  29501| Bachelor's|Restaurant and To...|               null|               5|                  20|              Yes|           No|             0|
|   534|       1|Train|   Nashville|   TN|     US|  37214|High School|      Not Applicable|2009-01-01 00:00:00|               3|                   4|               No|           No|             0|
|   547|       1|Train|     Milford|   CT|     US|  06460|High School|      Not Applicable|1989-01-01 00:00:00|               7|                  23|             null|           No|             0|
+------+--------+-----+------------+-----+-------+-------+-----------+--------------------+-------------------+----------------+--------------------+-----------------+-------------+--------------+
only showing top 20 rows

In [19]:
unique_values = users_df.select('DegreeType').distinct()
unique_values.show()

+-----------+
| DegreeType|
+-----------+
|High School|
|       None|
| Vocational|
|        PhD|
|Associate's|
| Bachelor's|
|   Master's|
+-----------+

In [20]:
unique_values = users_df.select('Major').distinct()
print(unique_values.count())

47072

In [21]:
from pyspark.sql.functions import col, when
users_df.filter(col('Major') == "Not Applicable").count()

58760

In [22]:
users_df.filter(col('Major') == "None").count()

63

In [23]:
users_df.filter(col('Major').isNull()).count()

96897

In [24]:
users_df.filter(col('Major') == "null").count()

0

Pre-processing - convert None to Not Applicable

In [25]:
users_df.filter(col('CurrentlyEmployed').isNull()).count()

42076

In [26]:
# Replace null values with 'No' in a specific column (e.g., 'ColumnName')

users_df = users_df.na.fill('No', ['CurrentlyEmployed', 'ManagedOthers'])

In [27]:
unique_values = users_df.select('CurrentlyEmployed').distinct()
unique_values.show()

unique_values = users_df.select('ManagedOthers').distinct()
unique_values.show()

+-----------------+
|CurrentlyEmployed|
+-----------------+
|               No|
|              Yes|
+-----------------+

+-------------+
|ManagedOthers|
+-------------+
|           No|
|          Yes|
+-------------+

In [28]:
users_df = users_df.withColumn('Major', when(col('Major') == 'None', 'Not Applicable').otherwise(col('Major')))

In [29]:
users_df.count()

389708

In [30]:
!pip3 install numpy

Requirement already satisfied: numpy in /opt/homebrew/lib/python3.11/site-packages (1.26.0)

In [31]:
from pyspark.ml.feature import StringIndexer

string_indexer = StringIndexer(inputCol='DegreeType', outputCol='DegreeType_encoded')
users_df_encoded = string_indexer.fit(users_df).transform(users_df)

users_df_encoded.show()

+------+--------+-----+------------+-----+-------+-------+-----------+--------------------+-------------------+----------------+--------------------+-----------------+-------------+--------------+------------------+
|UserID|WindowID|Split|        City|State|Country|ZipCode| DegreeType|               Major|     GraduationDate|WorkHistoryCount|TotalYearsExperience|CurrentlyEmployed|ManagedOthers|ManagedHowMany|DegreeType_encoded|
+------+--------+-----+------------+-----+-------+-------+-----------+--------------------+-------------------+----------------+--------------------+-----------------+-------------+--------------+------------------+
|    47|       1|Train|   Paramount|   CA|     US|  90723|High School|                null|1999-06-01 00:00:00|               3|                  10|              Yes|           No|             0|               2.0|
|    72|       1|Train|     La Mesa|   CA|     US|  91941|   Master's|        Anthropology|2011-01-01 00:00:00|              10|                   8|              Yes|           No|             0|               4.0|
|    80|       1|Train|Williamstown|   NJ|     US|  08094|High School|      Not Applicable|1985-06-01 00:00:00|               5|                  11|              Yes|          Yes|             5|               2.0|
|    98|       1|Train|     Astoria|   NY|     US|  11105|   Master's|          Journalism|2007-05-01 00:00:00|               3|                   3|              Yes|           No|             0|               4.0|
|   123|       1|Train| Baton Rouge|   LA|     US|  70808| Bachelor's|Agricultural Busi...|2011-05-01 00:00:00|               1|                   9|              Yes|           No|             0|               0.0|
|   131|       1|Train|     Houston|   TX|     US|  77077| Bachelor's|             Finance|1998-05-01 00:00:00|               3|                  14|               No|           No|             0|               0.0|
|   162|       1|Train|  Long Beach|   CA|     US|  90807|   Master's|      I/O Psychology|2012-05-01 00:00:00|              10|                  25|               No|           No|             0|               4.0|
|   178|       1|Train|  Greenville|   SC|     US|  29609|High School|      Not Applicable|               null|               6|                  35|               No|          Yes|             4|               2.0|
|   203|       1|Train|  Colchester|   VT|     US|  05446|   Master's|          Burlington|               null|               4|                   3|              Yes|           No|             0|               4.0|
|   344|       1|Train|Newport News|   VA|     US|  23601|High School|      Not Applicable|2007-01-01 00:00:00|               3|                   7|              Yes|           No|             0|               2.0|
|   395|       1|Train|    Wildwood|   MO|     US|  63038| Bachelor's|           Marketing|               null|              10|                  24|              Yes|           No|             0|               0.0|
|   411|       1|Train|        Lutz|   FL|     US|  33559|       None|                null|               null|               3|                  11|              Yes|          Yes|             1|               1.0|
|   415|       1|Train|      Leland|   NC|     US|  28451|Associate's|Office Systems Te...|2008-05-01 00:00:00|               5|                   7|               No|           No|             0|               3.0|
|   437|       1|Train|  Brookville|   OH|     US|  45309|Associate's|             Nursing|2010-05-01 00:00:00|               4|                  15|              Yes|           No|             0|               3.0|
|   483|       1|Train|        York|   PA|     US|  17406| Bachelor's|          Accounting|1989-01-01 00:00:00|               6|                  22|               No|           No|             0|               0.0|
|   496|       1|Train|      Easley|   SC|     US|  29640|High School|      Not Applicable|1987-01-01 00:00:00|              10|                  21|               No|           No|             0|               2.0|
|   501|       1|Train|  Cape Coral|   FL|     US|  33990| Bachelor's|                null|               null|               4|                  37|               No|           No|             0|               0.0|
|   524|       1|Train|    Florence|   SC|     US|  29501| Bachelor's|Restaurant and To...|               null|               5|                  20|              Yes|           No|             0|               0.0|
|   534|       1|Train|   Nashville|   TN|     US|  37214|High School|      Not Applicable|2009-01-01 00:00:00|               3|                   4|               No|           No|             0|               2.0|
|   547|       1|Train|     Milford|   CT|     US|  06460|High School|      Not Applicable|1989-01-01 00:00:00|               7|                  23|               No|           No|             0|               2.0|
+------+--------+-----+------------+-----+-------+-------+-----------+--------------------+-------------------+----------------+--------------------+-----------------+-------------+--------------+------------------+
only showing top 20 rows

In [32]:

# Numerically encode these columns ['City', 'State', 'Country', 'CurrentlyEmployed', 'ManagedOthers']
categorical_columns = ['City', 'State', 'Country', 'CurrentlyEmployed', 'ManagedOthers']

for col in categorical_columns:
    encoded_column = col + "_encoded"
    string_indexer = StringIndexer(inputCol=col, outputCol=encoded_column)
    users_df_encoded = string_indexer.fit(users_df_encoded).transform(users_df_encoded)

# Show the resulting DataFrame with the encoded column
users_df_encoded.show()

+------+--------+-----+------------+-----+-------+-------+-----------+--------------------+-------------------+----------------+--------------------+-----------------+-------------+--------------+------------------+------------+-------------+---------------+-------------------------+---------------------+
|UserID|WindowID|Split|        City|State|Country|ZipCode| DegreeType|               Major|     GraduationDate|WorkHistoryCount|TotalYearsExperience|CurrentlyEmployed|ManagedOthers|ManagedHowMany|DegreeType_encoded|City_encoded|State_encoded|Country_encoded|CurrentlyEmployed_encoded|ManagedOthers_encoded|
+------+--------+-----+------------+-----+-------+-------+-----------+--------------------+-------------------+----------------+--------------------+-----------------+-------------+--------------+------------------+------------+-------------+---------------+-------------------------+---------------------+
|    47|       1|Train|   Paramount|   CA|     US|  90723|High School|                null|1999-06-01 00:00:00|               3|                  10|              Yes|           No|             0|               2.0|       924.0|          2.0|            0.0|                      0.0|                  0.0|
|    72|       1|Train|     La Mesa|   CA|     US|  91941|   Master's|        Anthropology|2011-01-01 00:00:00|              10|                   8|              Yes|           No|             0|               4.0|      1052.0|          2.0|            0.0|                      0.0|                  0.0|
|    80|       1|Train|Williamstown|   NJ|     US|  08094|High School|      Not Applicable|1985-06-01 00:00:00|               5|                  11|              Yes|          Yes|             5|               2.0|       624.0|          7.0|            0.0|                      0.0|                  1.0|
|    98|       1|Train|     Astoria|   NY|     US|  11105|   Master's|          Journalism|2007-05-01 00:00:00|               3|                   3|              Yes|           No|             0|               4.0|       407.0|          4.0|            0.0|                      0.0|                  0.0|
|   123|       1|Train| Baton Rouge|   LA|     US|  70808| Bachelor's|Agricultural Busi...|2011-05-01 00:00:00|               1|                   9|              Yes|           No|             0|               0.0|        91.0|         24.0|            0.0|                      0.0|                  0.0|
|   131|       1|Train|     Houston|   TX|     US|  77077| Bachelor's|             Finance|1998-05-01 00:00:00|               3|                  14|               No|           No|             0|               0.0|         1.0|          1.0|            0.0|                      1.0|                  0.0|
|   162|       1|Train|  Long Beach|   CA|     US|  90807|   Master's|      I/O Psychology|2012-05-01 00:00:00|              10|                  25|               No|           No|             0|               4.0|        50.0|          2.0|            0.0|                      1.0|                  0.0|
|   178|       1|Train|  Greenville|   SC|     US|  29609|High School|      Not Applicable|               null|               6|                  35|               No|          Yes|             4|               2.0|        51.0|         16.0|            0.0|                      1.0|                  1.0|
|   203|       1|Train|  Colchester|   VT|     US|  05446|   Master's|          Burlington|               null|               4|                   3|              Yes|           No|             0|               4.0|      1333.0|         45.0|            0.0|                      0.0|                  0.0|
|   344|       1|Train|Newport News|   VA|     US|  23601|High School|      Not Applicable|2007-01-01 00:00:00|               3|                   7|              Yes|           No|             0|               2.0|        95.0|         14.0|            0.0|                      0.0|                  0.0|
|   395|       1|Train|    Wildwood|   MO|     US|  63038| Bachelor's|           Marketing|               null|              10|                  24|              Yes|           No|             0|               0.0|      1915.0|         17.0|            0.0|                      0.0|                  0.0|
|   411|       1|Train|        Lutz|   FL|     US|  33559|       None|                null|               null|               3|                  11|              Yes|          Yes|             1|               1.0|       649.0|          0.0|            0.0|                      0.0|                  1.0|
|   415|       1|Train|      Leland|   NC|     US|  28451|Associate's|Office Systems Te...|2008-05-01 00:00:00|               5|                   7|               No|           No|             0|               3.0|      2483.0|          9.0|            0.0|                      1.0|                  0.0|
|   437|       1|Train|  Brookville|   OH|     US|  45309|Associate's|             Nursing|2010-05-01 00:00:00|               4|                  15|              Yes|           No|             0|               3.0|      1807.0|          8.0|            0.0|                      0.0|                  0.0|
|   483|       1|Train|        York|   PA|     US|  17406| Bachelor's|          Accounting|1989-01-01 00:00:00|               6|                  22|               No|           No|             0|               0.0|       189.0|          5.0|            0.0|                      1.0|                  0.0|
|   496|       1|Train|      Easley|   SC|     US|  29640|High School|      Not Applicable|1987-01-01 00:00:00|              10|                  21|               No|           No|             0|               2.0|       691.0|         16.0|            0.0|                      1.0|                  0.0|
|   501|       1|Train|  Cape Coral|   FL|     US|  33990| Bachelor's|                null|               null|               4|                  37|               No|           No|             0|               0.0|       142.0|          0.0|            0.0|                      1.0|                  0.0|
|   524|       1|Train|    Florence|   SC|     US|  29501| Bachelor's|Restaurant and To...|               null|               5|                  20|              Yes|           No|             0|               0.0|       145.0|         16.0|            0.0|                      0.0|                  0.0|
|   534|       1|Train|   Nashville|   TN|     US|  37214|High School|      Not Applicable|2009-01-01 00:00:00|               3|                   4|               No|           No|             0|               2.0|        33.0|         15.0|            0.0|                      1.0|                  0.0|
|   547|       1|Train|     Milford|   CT|     US|  06460|High School|      Not Applicable|1989-01-01 00:00:00|               7|                  23|               No|           No|             0|               2.0|       223.0|         19.0|            0.0|                      1.0|                  0.0|
+------+--------+-----+------------+-----+-------+-------+-----------+--------------------+-------------------+----------------+--------------------+-----------------+-------------+--------------+------------------+------------+-------------+---------------+-------------------------+---------------------+
only showing top 20 rows

In [33]:
columns_to_drop = ['City', 'State', 'Country', 'CurrentlyEmployed', 'ManagedOthers', 'DegreeType']
users_df_encoded = users_df_encoded.drop(*columns_to_drop)
users_df_encoded.show()

+------+--------+-----+-------+--------------------+-------------------+----------------+--------------------+--------------+------------------+------------+-------------+---------------+-------------------------+---------------------+
|UserID|WindowID|Split|ZipCode|               Major|     GraduationDate|WorkHistoryCount|TotalYearsExperience|ManagedHowMany|DegreeType_encoded|City_encoded|State_encoded|Country_encoded|CurrentlyEmployed_encoded|ManagedOthers_encoded|
+------+--------+-----+-------+--------------------+-------------------+----------------+--------------------+--------------+------------------+------------+-------------+---------------+-------------------------+---------------------+
|    47|       1|Train|  90723|                null|1999-06-01 00:00:00|               3|                  10|             0|               2.0|       924.0|          2.0|            0.0|                      0.0|                  0.0|
|    72|       1|Train|  91941|        Anthropology|2011-01-01 00:00:00|              10|                   8|             0|               4.0|      1052.0|          2.0|            0.0|                      0.0|                  0.0|
|    80|       1|Train|  08094|      Not Applicable|1985-06-01 00:00:00|               5|                  11|             5|               2.0|       624.0|          7.0|            0.0|                      0.0|                  1.0|
|    98|       1|Train|  11105|          Journalism|2007-05-01 00:00:00|               3|                   3|             0|               4.0|       407.0|          4.0|            0.0|                      0.0|                  0.0|
|   123|       1|Train|  70808|Agricultural Busi...|2011-05-01 00:00:00|               1|                   9|             0|               0.0|        91.0|         24.0|            0.0|                      0.0|                  0.0|
|   131|       1|Train|  77077|             Finance|1998-05-01 00:00:00|               3|                  14|             0|               0.0|         1.0|          1.0|            0.0|                      1.0|                  0.0|
|   162|       1|Train|  90807|      I/O Psychology|2012-05-01 00:00:00|              10|                  25|             0|               4.0|        50.0|          2.0|            0.0|                      1.0|                  0.0|
|   178|       1|Train|  29609|      Not Applicable|               null|               6|                  35|             4|               2.0|        51.0|         16.0|            0.0|                      1.0|                  1.0|
|   203|       1|Train|  05446|          Burlington|               null|               4|                   3|             0|               4.0|      1333.0|         45.0|            0.0|                      0.0|                  0.0|
|   344|       1|Train|  23601|      Not Applicable|2007-01-01 00:00:00|               3|                   7|             0|               2.0|        95.0|         14.0|            0.0|                      0.0|                  0.0|
|   395|       1|Train|  63038|           Marketing|               null|              10|                  24|             0|               0.0|      1915.0|         17.0|            0.0|                      0.0|                  0.0|
|   411|       1|Train|  33559|                null|               null|               3|                  11|             1|               1.0|       649.0|          0.0|            0.0|                      0.0|                  1.0|
|   415|       1|Train|  28451|Office Systems Te...|2008-05-01 00:00:00|               5|                   7|             0|               3.0|      2483.0|          9.0|            0.0|                      1.0|                  0.0|
|   437|       1|Train|  45309|             Nursing|2010-05-01 00:00:00|               4|                  15|             0|               3.0|      1807.0|          8.0|            0.0|                      0.0|                  0.0|
|   483|       1|Train|  17406|          Accounting|1989-01-01 00:00:00|               6|                  22|             0|               0.0|       189.0|          5.0|            0.0|                      1.0|                  0.0|
|   496|       1|Train|  29640|      Not Applicable|1987-01-01 00:00:00|              10|                  21|             0|               2.0|       691.0|         16.0|            0.0|                      1.0|                  0.0|
|   501|       1|Train|  33990|                null|               null|               4|                  37|             0|               0.0|       142.0|          0.0|            0.0|                      1.0|                  0.0|
|   524|       1|Train|  29501|Restaurant and To...|               null|               5|                  20|             0|               0.0|       145.0|         16.0|            0.0|                      0.0|                  0.0|
|   534|       1|Train|  37214|      Not Applicable|2009-01-01 00:00:00|               3|                   4|             0|               2.0|        33.0|         15.0|            0.0|                      1.0|                  0.0|
|   547|       1|Train|  06460|      Not Applicable|1989-01-01 00:00:00|               7|                  23|             0|               2.0|       223.0|         19.0|            0.0|                      1.0|                  0.0|
+------+--------+-----+-------+--------------------+-------------------+----------------+--------------------+--------------+------------------+------------+-------------+---------------+-------------------------+---------------------+
only showing top 20 rows

In [34]:
from pyspark.sql.functions import count, lit

# Calculate the frequency of each unique value in the 'Major' column
major_frequencies = users_df_encoded.groupBy('Major').agg(count(lit(1)).alias('major_frequency'))

# Join the frequency information back to the original DataFrame
users_df_encoded = users_df_encoded.join(major_frequencies, on='Major', how='left')

# Replace null values in the 'Frequency' column with 0
users_df_encoded = users_df_encoded.na.fill(0, ['major_frequency'])

users_df_encoded = users_df_encoded.drop('Major')
users_df_encoded.show()

+------+--------+-----+-------+-------------------+----------------+--------------------+--------------+------------------+------------+-------------+---------------+-------------------------+---------------------+---------------+
|UserID|WindowID|Split|ZipCode|     GraduationDate|WorkHistoryCount|TotalYearsExperience|ManagedHowMany|DegreeType_encoded|City_encoded|State_encoded|Country_encoded|CurrentlyEmployed_encoded|ManagedOthers_encoded|major_frequency|
+------+--------+-----+-------+-------------------+----------------+--------------------+--------------+------------------+------------+-------------+---------------+-------------------------+---------------------+---------------+
|    47|       1|Train|  90723|1999-06-01 00:00:00|               3|                  10|             0|               2.0|       924.0|          2.0|            0.0|                      0.0|                  0.0|              0|
|    72|       1|Train|  91941|2011-01-01 00:00:00|              10|                   8|             0|               4.0|      1052.0|          2.0|            0.0|                      0.0|                  0.0|            191|
|    80|       1|Train|  08094|1985-06-01 00:00:00|               5|                  11|             5|               2.0|       624.0|          7.0|            0.0|                      0.0|                  1.0|          58823|
|    98|       1|Train|  11105|2007-05-01 00:00:00|               3|                   3|             0|               4.0|       407.0|          4.0|            0.0|                      0.0|                  0.0|            529|
|   123|       1|Train|  70808|2011-05-01 00:00:00|               1|                   9|             0|               0.0|        91.0|         24.0|            0.0|                      0.0|                  0.0|             12|
|   131|       1|Train|  77077|1998-05-01 00:00:00|               3|                  14|             0|               0.0|         1.0|          1.0|            0.0|                      1.0|                  0.0|           2818|
|   162|       1|Train|  90807|2012-05-01 00:00:00|              10|                  25|             0|               4.0|        50.0|          2.0|            0.0|                      1.0|                  0.0|              5|
|   178|       1|Train|  29609|               null|               6|                  35|             4|               2.0|        51.0|         16.0|            0.0|                      1.0|                  1.0|          58823|
|   203|       1|Train|  05446|               null|               4|                   3|             0|               4.0|      1333.0|         45.0|            0.0|                      0.0|                  0.0|              1|
|   344|       1|Train|  23601|2007-01-01 00:00:00|               3|                   7|             0|               2.0|        95.0|         14.0|            0.0|                      0.0|                  0.0|          58823|
|   395|       1|Train|  63038|               null|              10|                  24|             0|               0.0|      1915.0|         17.0|            0.0|                      0.0|                  0.0|           2911|
|   411|       1|Train|  33559|               null|               3|                  11|             1|               1.0|       649.0|          0.0|            0.0|                      0.0|                  1.0|              0|
|   415|       1|Train|  28451|2008-05-01 00:00:00|               5|                   7|             0|               3.0|      2483.0|          9.0|            0.0|                      1.0|                  0.0|             33|
|   437|       1|Train|  45309|2010-05-01 00:00:00|               4|                  15|             0|               3.0|      1807.0|          8.0|            0.0|                      0.0|                  0.0|           2886|
|   483|       1|Train|  17406|1989-01-01 00:00:00|               6|                  22|             0|               0.0|       189.0|          5.0|            0.0|                      1.0|                  0.0|           7576|
|   496|       1|Train|  29640|1987-01-01 00:00:00|              10|                  21|             0|               2.0|       691.0|         16.0|            0.0|                      1.0|                  0.0|          58823|
|   501|       1|Train|  33990|               null|               4|                  37|             0|               0.0|       142.0|          0.0|            0.0|                      1.0|                  0.0|              0|
|   524|       1|Train|  29501|               null|               5|                  20|             0|               0.0|       145.0|         16.0|            0.0|                      0.0|                  0.0|              4|
|   534|       1|Train|  37214|2009-01-01 00:00:00|               3|                   4|             0|               2.0|        33.0|         15.0|            0.0|                      1.0|                  0.0|          58823|
|   547|       1|Train|  06460|1989-01-01 00:00:00|               7|                  23|             0|               2.0|       223.0|         19.0|            0.0|                      1.0|                  0.0|          58823|
+------+--------+-----+-------+-------------------+----------------+--------------------+--------------+------------------+------------+-------------+---------------+-------------------------+---------------------+---------------+
only showing top 20 rows

In [35]:
user_history_df = spark.read.format("csv").option("header", "true").option("delimiter", "\t").load("/Users/ganapathychidambaram/Desktop/predixions/user_history.tsv")

In [36]:
user_history_df.show()

+------+--------+-----+--------+--------------------+
|UserID|WindowID|Split|Sequence|            JobTitle|
+------+--------+-----+--------+--------------------+
|    47|       1|Train|       1|National Space Co...|
|    47|       1|Train|       2|   Detention Officer|
|    47|       1|Train|       3|Passenger Screene...|
|    72|       1|Train|       1|Lecturer, Departm...|
|    72|       1|Train|       2|   Student Assistant|
|    72|       1|Train|       3|   Elderly Caregiver|
|    72|       1|Train|       4|                null|
|    72|       1|Train|       5|Department Assist...|
|    72|       1|Train|       6|Book Reviews Edit...|
|    72|       1|Train|       7|  Graduate Assistant|
|    72|       1|Train|       8|                null|
|    72|       1|Train|       9|  Research Assistant|
|    72|       1|Train|      10|Docent, C.E. Smit...|
|    80|       1|Train|       1|Auto Publishing/E...|
|    80|       1|Train|       2|Enhanced Baker Ce...|
|    80|       1|Train|       3|Lead was  was als...|
|    80|       1|Train|       4|Sales Associate, ...|
|    80|       1|Train|       5|Enhanced Baker Ce...|
|    98|       1|Train|       1|     Editor-in-Chief|
|    98|       1|Train|       2|Deputy Sports & W...|
+------+--------+-----+--------+--------------------+
only showing top 20 rows

In [37]:
unique_values = user_history_df.select('JobTitle').distinct()
unique_values.count()

657162

In [38]:
user_history_df.count()

1753901

In [39]:
job_title_frequencies = user_history_df.groupBy('JobTitle').agg(count(lit(1)).alias('job_title_freq'))
job_title_frequencies.show()

+--------------------+--------------+
|            JobTitle|job_title_freq|
+--------------------+--------------+
|Commercial and re...|             1|
|      Service Writer|           109|
|Relief Production...|             1|
|Lead Field Techni...|             1|
|Pa. - Business Un...|             1|
|Field - Service E...|             1|
|Journeyman Electr...|           447|
|          Enumerator|           240|
|Health Service Sp...|             1|
|CUSTODIAN OF MEDI...|             1|
|   Procurement Buyer|             3|
|         Bank Teller|          1081|
|Customer Service ...|             1|
|Sr. Staffing & St...|             1|
|Minster Press Ope...|             1|
|Country General M...|             1|
|   Compliance Intern|             5|
|Account Services ...|             8|
|Paralegal Supervisor|             6|
|Commercial Loan C...|             1|
+--------------------+--------------+
only showing top 20 rows

In [40]:
# Join the frequency information back to the original DataFrame
user_history_df = user_history_df.join(job_title_frequencies, on='JobTitle', how='left')

# Replace null values in the 'Frequency' column with 0
user_history_df = user_history_df.na.fill(0, ['job_title_freq'])

# Drop the original 'JobTitle' column
user_history_df = user_history_df.drop('JobTitle')

# Show the resulting DataFrame
user_history_df.show()

+-------+--------+-----+--------+--------------+
| UserID|WindowID|Split|Sequence|job_title_freq|
+-------+--------+-----+--------+--------------+
| 393222|       4|Train|       3|             1|
| 393090|       4|Train|       4|           249|
| 393090|       4|Train|       5|           249|
| 586219|       7|Train|       1|             1|
|1034616|       1|Train|       1|            15|
|1034634|       1|Train|       3|             1|
| 393090|       4|Train|       6|             1|
| 337715|       5|Train|       5|            15|
|     80|       1|Train|       3|             1|
| 586173|       7|Train|       7|           132|
| 515554|       3|Train|       2|             1|
| 709314|       2|Train|       2|             1|
| 586173|       7|Train|       5|            41|
|1034664|       1|Train|       3|         15645|
| 395265|       6|Train|       5|         15645|
| 586221|       7|Train|       2|         15645|
| 337728|       5|Train|       3|             1|
| 709176|       2|Train|       4|          7378|
| 395293|       6|Train|       3|             3|
| 515546|       3|Train|       3|             1|
+-------+--------+-----+--------+--------------+
only showing top 20 rows

In [41]:
from pyspark.sql.functions import collect_list, first


compressed_user_hist_df = user_history_df.groupBy('UserID').agg(
    collect_list('Sequence').alias('Sequence'),
    collect_list('job_title_freq').alias('job_title_freq'),
    first('WindowID').alias('WindowID'),
    first('Split').alias('Split')
)

In [42]:
compressed_user_hist_df.show()

+-------+--------------------+--------------------+--------+-----+
| UserID|            Sequence|      job_title_freq|WindowID|Split|
+-------+--------------------+--------------------+--------+-----+
|1000015|[2, 5, 3, 7, 6, 1...|[913, 634, 1, 15,...|       1| Test|
|1000070|        [4, 3, 2, 1]|[8577, 161, 41, 278]|       7|Train|
|1000127|        [4, 1, 2, 3]|  [1513, 47, 47, 47]|       7|Train|
|1000128|[1, 2, 6, 4, 3, 5...|[164, 11, 159, 1,...|       7|Train|
|1000131|[4, 1, 6, 3, 5, 2...|[13, 238, 1, 274,...|       5|Train|
| 100014|     [1, 3, 4, 5, 2]| [1813, 0, 0, 0, 36]|       4|Train|
|1000205|                 [1]|                 [1]|       5|Train|
|1000272|        [4, 1, 3, 2]|  [2779, 8577, 1, 1]|       3|Train|
|1000284|     [5, 4, 2, 1, 3]|[97, 1, 181, 1622...|       7|Train|
|1000316|[7, 1, 6, 2, 3, 5...|[218, 2, 2, 1, 1,...|       1|Train|
|1000353|           [3, 1, 2]|         [272, 1, 1]|       4|Train|
|1000401|                 [1]|                 [1]|       2|Train|
|1000429|  [2, 6, 5, 4, 1, 3]|[1578, 1, 10, 151...|       1|Train|
|1000482|[9, 5, 6, 4, 10, ...|[16368, 16, 30, 1...|       1|Train|
|1000495|     [3, 1, 2, 5, 4]|[91, 4279, 4279, ...|       3|Train|
|1000569|[2, 4, 6, 7, 3, 5...|[15645, 15645, 15...|       3|Train|
|1000572|        [3, 4, 1, 2]|        [1, 0, 1, 1]|       1|Train|
|1000619|     [1, 5, 3, 2, 4]|  [172, 1, 1, 56, 1]|       7|Train|
| 100062|              [1, 2]|             [1, 41]|       6|Train|
|1000725|     [3, 4, 5, 1, 2]|  [42, 42, 42, 1, 1]|       6|Train|
+-------+--------------------+--------------------+--------+-----+
only showing top 20 rows

In [43]:
jobs_df = spark.read.format("csv").option("header", "true").option("delimiter", "\t").load("/Users/ganapathychidambaram/Desktop/predixions/jobs.tsv")

In [44]:
jobs_df.show()

+-----+--------+--------------------+--------------------+--------------------+-----------------+-----+-------+-----+--------------------+-------------------+
|JobID|WindowID|               Title|         Description|        Requirements|             City|State|Country| Zip5|           StartDate|            EndDate|
+-----+--------+--------------------+--------------------+--------------------+-----------------+-----+-------+-----+--------------------+-------------------+
|    1|       1|Security Engineer...|<p>Security Clear...|<p>SKILL SET</p>\...|       Washington|   DC|     US|20531|2012-03-07 13:17:...|2012-04-06 23:59:59|
|    4|       1|SAP Business Anal...|<strong>NO Corp. ...|<p><b>WHAT YOU NE...|        Charlotte|   NC|     US|28217|2012-03-21 02:03:...|2012-04-20 23:59:59|
|    7|       1|P/T HUMAN RESOURC...|<b>    <b> P/T HU...|Please refer to t...|      Winter Park|   FL|     US|32792|2012-03-02 16:36:...|2012-04-01 23:59:59|
|    8|       1|Route Delivery Dr...|CITY BEVERAGES Co...|Please refer to t...|          Orlando|   FL|     US| null|2012-03-03 09:01:...|2012-04-02 23:59:59|
|    9|       1|        Housekeeping|I make  sure ever...|Please refer to t...|          Orlando|   FL|     US| null|2012-03-03 09:01:...|2012-04-02 23:59:59|
|   10|       1|SALON/SPA COORDIN...|<b>    <b> SALON...|Please refer to t...|     Ormond Beach|   FL|     US|32174|2012-03-05 14:21:...|2012-04-04 23:59:59|
|   11|       1|      SUPERINTENDENT|<b>    <b>SUPERIN...|Please refer to t...|          Orlando|   FL|     US|32801|2012-03-06 09:21:...|2012-04-05 23:59:59|
|   12|       1|ELECTRONIC PRE-PR...|<b>    <b>ELECTRO...|Please refer to t...|          Orlando|   FL|     US|32808|2012-03-06 11:21:...|2012-04-05 23:59:59|
|   13|       1|UTILITY LINE TRUC...|<b>     </b> \r\n...|Please refer to t...|          Orlando|   FL|     US|32801|2012-03-06 16:06:...|2012-04-05 23:59:59|
|   14|       1|CONSTRUCTION PROJ...|<b>    <b>CONSTRU...|Please refer to t...|      Winter Park|   FL|     US|32789|2012-03-07 10:21:...|2012-04-06 23:59:59|
|   15|       1|Administrative As...|This Administrati...|Please refer to t...|      Los Angeles|   CA|     US|90011|2012-03-09 01:12:...|2012-04-08 23:59:59|
|   16|       1|  ACCOUNT EXECUTIVES|<b>    <b>ACCOUNT...|Please refer to t...|         Longwood|   FL|     US|32779|2012-03-08 05:09:...|2012-04-07 23:59:59|
|   17|       1|COMMERCIAL ESTIMATOR|<b>    <b>TRI-CIT...|Please refer to t...|Altamonte Springs|   FL|     US|32714|2012-03-08 11:07:...|2012-04-07 23:59:59|
|   18|       1|   Immediate Opening|Immediate Opening...|Please refer to t...|          Orlando|   FL|     US|32819|2012-03-10 01:13:...|2012-04-09 23:59:59|
|   19|       1|        TESL Adjunct|TESL Adjunct - Th...|Please refer to t...|    Daytona Beach|   FL|     US|32114|2012-03-10 01:13:...|2012-04-09 23:59:59|
|   20|       1|Salon Manager/Hai...|Salon Manager/Hai...|Please refer to t...|           Oviedo|   FL|     US|32765|2012-03-10 01:13:...|2012-04-09 23:59:59|
|   21|       1|VOCATIONAL COUNSELOR|<b>    <b>VOCATIO...|Please refer to t...|          Orlando|   FL|     US|32804|2012-03-09 16:21:...|2012-04-08 23:59:59|
|   22|       1|GALLERY SALES POS...|<b>    <b>       ...|Please refer to t...|          Orlando|   FL|     US|32819|2012-03-09 16:51:...|2012-04-08 23:59:59|
|   23|       1| SURGICAL SCRUB TECH|<b>    <b> SURGIC...|Please refer to t...|Altamonte Springs|   FL|     US|32701|2012-03-09 17:06:...|2012-04-08 23:59:59|
|   24|       1|   Real Estate Agent|Now accepting Sea...|Please refer to t...|       Windermere|   FL|     US|34786|2012-03-10 01:13:...|2012-04-09 23:59:59|
+-----+--------+--------------------+--------------------+--------------------+-----------------+-----+-------+-----+--------------------+-------------------+
only showing top 20 rows

In [45]:
# Replace null values in 'Title' column with an empty string
jobs_df = jobs_df.withColumn("Title", when(jobs_df["Title"].isNull(), "").otherwise(jobs_df["Title"]))

# Replace null values in 'Description' and 'Requirements' columns
jobs_df = jobs_df.fillna({"Description": "<p>No description available</p>", "Requirements": "<p>No requirements available</p>"})

# Show the resulting DataFrame
jobs_df.show()

+-----+--------+--------------------+--------------------+--------------------+-----------------+-----+-------+-----+--------------------+-------------------+
|JobID|WindowID|               Title|         Description|        Requirements|             City|State|Country| Zip5|           StartDate|            EndDate|
+-----+--------+--------------------+--------------------+--------------------+-----------------+-----+-------+-----+--------------------+-------------------+
|    1|       1|Security Engineer...|<p>Security Clear...|<p>SKILL SET</p>\...|       Washington|   DC|     US|20531|2012-03-07 13:17:...|2012-04-06 23:59:59|
|    4|       1|SAP Business Anal...|<strong>NO Corp. ...|<p><b>WHAT YOU NE...|        Charlotte|   NC|     US|28217|2012-03-21 02:03:...|2012-04-20 23:59:59|
|    7|       1|P/T HUMAN RESOURC...|<b>    <b> P/T HU...|Please refer to t...|      Winter Park|   FL|     US|32792|2012-03-02 16:36:...|2012-04-01 23:59:59|
|    8|       1|Route Delivery Dr...|CITY BEVERAGES Co...|Please refer to t...|          Orlando|   FL|     US| null|2012-03-03 09:01:...|2012-04-02 23:59:59|
|    9|       1|        Housekeeping|I make  sure ever...|Please refer to t...|          Orlando|   FL|     US| null|2012-03-03 09:01:...|2012-04-02 23:59:59|
|   10|       1|SALON/SPA COORDIN...|<b>    <b> SALON...|Please refer to t...|     Ormond Beach|   FL|     US|32174|2012-03-05 14:21:...|2012-04-04 23:59:59|
|   11|       1|      SUPERINTENDENT|<b>    <b>SUPERIN...|Please refer to t...|          Orlando|   FL|     US|32801|2012-03-06 09:21:...|2012-04-05 23:59:59|
|   12|       1|ELECTRONIC PRE-PR...|<b>    <b>ELECTRO...|Please refer to t...|          Orlando|   FL|     US|32808|2012-03-06 11:21:...|2012-04-05 23:59:59|
|   13|       1|UTILITY LINE TRUC...|<b>     </b> \r\n...|Please refer to t...|          Orlando|   FL|     US|32801|2012-03-06 16:06:...|2012-04-05 23:59:59|
|   14|       1|CONSTRUCTION PROJ...|<b>    <b>CONSTRU...|Please refer to t...|      Winter Park|   FL|     US|32789|2012-03-07 10:21:...|2012-04-06 23:59:59|
|   15|       1|Administrative As...|This Administrati...|Please refer to t...|      Los Angeles|   CA|     US|90011|2012-03-09 01:12:...|2012-04-08 23:59:59|
|   16|       1|  ACCOUNT EXECUTIVES|<b>    <b>ACCOUNT...|Please refer to t...|         Longwood|   FL|     US|32779|2012-03-08 05:09:...|2012-04-07 23:59:59|
|   17|       1|COMMERCIAL ESTIMATOR|<b>    <b>TRI-CIT...|Please refer to t...|Altamonte Springs|   FL|     US|32714|2012-03-08 11:07:...|2012-04-07 23:59:59|
|   18|       1|   Immediate Opening|Immediate Opening...|Please refer to t...|          Orlando|   FL|     US|32819|2012-03-10 01:13:...|2012-04-09 23:59:59|
|   19|       1|        TESL Adjunct|TESL Adjunct - Th...|Please refer to t...|    Daytona Beach|   FL|     US|32114|2012-03-10 01:13:...|2012-04-09 23:59:59|
|   20|       1|Salon Manager/Hai...|Salon Manager/Hai...|Please refer to t...|           Oviedo|   FL|     US|32765|2012-03-10 01:13:...|2012-04-09 23:59:59|
|   21|       1|VOCATIONAL COUNSELOR|<b>    <b>VOCATIO...|Please refer to t...|          Orlando|   FL|     US|32804|2012-03-09 16:21:...|2012-04-08 23:59:59|
|   22|       1|GALLERY SALES POS...|<b>    <b>       ...|Please refer to t...|          Orlando|   FL|     US|32819|2012-03-09 16:51:...|2012-04-08 23:59:59|
|   23|       1| SURGICAL SCRUB TECH|<b>    <b> SURGIC...|Please refer to t...|Altamonte Springs|   FL|     US|32701|2012-03-09 17:06:...|2012-04-08 23:59:59|
|   24|       1|   Real Estate Agent|Now accepting Sea...|Please refer to t...|       Windermere|   FL|     US|34786|2012-03-10 01:13:...|2012-04-09 23:59:59|
+-----+--------+--------------------+--------------------+--------------------+-----------------+-----+-------+-----+--------------------+-------------------+
only showing top 20 rows

In [46]:
from pyspark.ml.feature import Tokenizer, StopWordsRemover, CountVectorizer, IDF
from pyspark.sql.functions import col, concat, lit

# Concatenate the text from different columns into a single column
jobs_df = jobs_df.withColumn("combined_text", concat(col("Description"), lit(" "), col("Requirements")))

# Tokenize the combined text
tokenizer = Tokenizer(inputCol="combined_text", outputCol="tokens")
jobs_df = tokenizer.transform(jobs_df)

# Remove stopwords
stopwords_remover = StopWordsRemover(inputCol="tokens", outputCol="filtered_tokens")
jobs_df = stopwords_remover.transform(jobs_df)

# Compute Term Frequencies
count_vectorizer = CountVectorizer(inputCol="filtered_tokens", outputCol="tf_features")
count_vectorizer_model = count_vectorizer.fit(jobs_df)
jobs_df = count_vectorizer_model.transform(jobs_df)

# Compute Inverse Document Frequencies
idf = IDF(inputCol="tf_features", outputCol="tfidf_features")
idf_model = idf.fit(jobs_df)
jobs_df = idf_model.transform(jobs_df)

# Drop intermediate columns
jobs_df = jobs_df.drop("combined_text", "tokens", "filtered_tokens", "tf_features")

# Drop the source columns
jobs_df = jobs_df.drop("Title", "Description", "Requirements")


# Show the resulting DataFrame
jobs_df.show()

23/09/26 20:55:41 WARN MemoryStore: Not enough space to cache rdd_279_1 in memory! (computed 18.9 MiB so far)
23/09/26 20:55:41 WARN MemoryStore: Not enough space to cache rdd_279_6 in memory! (computed 15.0 MiB so far)
23/09/26 20:55:41 WARN BlockManager: Persisting block rdd_279_1 to disk instead.
23/09/26 20:55:41 WARN BlockManager: Persisting block rdd_279_6 to disk instead.
23/09/26 20:55:41 WARN MemoryStore: Not enough space to cache rdd_279_0 in memory! (computed 14.5 MiB so far)
23/09/26 20:55:41 WARN BlockManager: Persisting block rdd_279_0 to disk instead.
23/09/26 20:55:41 WARN MemoryStore: Not enough space to cache rdd_279_4 in memory! (computed 19.3 MiB so far)
23/09/26 20:55:41 WARN BlockManager: Persisting block rdd_279_4 to disk instead.
23/09/26 20:55:41 WARN MemoryStore: Not enough space to cache rdd_279_2 in memory! (computed 19.2 MiB so far)
23/09/26 20:55:41 WARN BlockManager: Persisting block rdd_279_2 to disk instead.
23/09/26 20:55:41 WARN MemoryStore: Not enough space to cache rdd_279_5 in memory! (computed 19.6 MiB so far)
23/09/26 20:55:41 WARN BlockManager: Persisting block rdd_279_5 to disk instead.
23/09/26 20:55:41 WARN MemoryStore: Not enough space to cache rdd_279_3 in memory! (computed 18.3 MiB so far)
23/09/26 20:55:41 WARN BlockManager: Persisting block rdd_279_3 to disk instead.
23/09/26 20:55:41 WARN MemoryStore: Not enough space to cache rdd_279_7 in memory! (computed 5.6 MiB so far)
23/09/26 20:55:41 WARN BlockManager: Persisting block rdd_279_7 to disk instead.
23/09/26 20:55:43 WARN MemoryStore: Not enough space to cache rdd_279_12 in memory! (computed 1538.5 KiB so far)
23/09/26 20:55:43 WARN MemoryStore: Not enough space to cache rdd_279_13 in memory! (computed 1540.0 KiB so far)
23/09/26 20:55:43 WARN BlockManager: Persisting block rdd_279_13 to disk instead.
23/09/26 20:55:43 WARN BlockManager: Persisting block rdd_279_12 to disk instead.
23/09/26 20:55:43 WARN MemoryStore: Failed to reserve initial memory threshold of 1024.0 KiB for computing block rdd_279_11 in memory.
23/09/26 20:55:43 WARN MemoryStore: Not enough space to cache rdd_279_11 in memory! (computed 384.0 B so far)
23/09/26 20:55:43 WARN BlockManager: Persisting block rdd_279_11 to disk instead.
23/09/26 20:55:43 WARN MemoryStore: Not enough space to cache rdd_279_10 in memory! (computed 1024.8 KiB so far)
23/09/26 20:55:43 WARN BlockManager: Persisting block rdd_279_10 to disk instead.
23/09/26 20:55:43 WARN MemoryStore: Not enough space to cache rdd_279_9 in memory! (computed 1047.8 KiB so far)
23/09/26 20:55:43 WARN BlockManager: Persisting block rdd_279_9 to disk instead.
23/09/26 20:55:43 WARN MemoryStore: Not enough space to cache rdd_279_15 in memory! (computed 1026.6 KiB so far)
23/09/26 20:55:43 WARN BlockManager: Persisting block rdd_279_15 to disk instead.
23/09/26 20:55:43 WARN MemoryStore: Not enough space to cache rdd_279_14 in memory! (computed 5.1 MiB so far)
23/09/26 20:55:43 WARN BlockManager: Persisting block rdd_279_14 to disk instead.
23/09/26 20:55:43 WARN MemoryStore: Not enough space to cache rdd_279_11 in memory! (computed 28.5 MiB so far)
23/09/26 20:55:44 WARN MemoryStore: Not enough space to cache rdd_279_16 in memory! (computed 21.4 MiB so far)
23/09/26 20:55:44 WARN BlockManager: Persisting block rdd_279_16 to disk instead.
23/09/26 20:55:44 WARN MemoryStore: Not enough space to cache rdd_279_20 in memory! (computed 1540.2 KiB so far)
23/09/26 20:55:44 WARN MemoryStore: Not enough space to cache rdd_279_21 in memory! (computed 1539.0 KiB so far)
23/09/26 20:55:44 WARN BlockManager: Persisting block rdd_279_21 to disk instead.
23/09/26 20:55:44 WARN MemoryStore: Not enough space to cache rdd_279_18 in memory! (computed 12.4 MiB so far)
23/09/26 20:55:44 WARN BlockManager: Persisting block rdd_279_18 to disk instead.
23/09/26 20:55:44 WARN BlockManager: Persisting block rdd_279_20 to disk instead.
23/09/26 20:55:45 WARN MemoryStore: Not enough space to cache rdd_279_19 in memory! (computed 3.7 MiB so far)
23/09/26 20:55:45 WARN BlockManager: Persisting block rdd_279_19 to disk instead.
23/09/26 20:55:45 WARN MemoryStore: Not enough space to cache rdd_279_22 in memory! (computed 2.3 MiB so far)
23/09/26 20:55:45 WARN BlockManager: Persisting block rdd_279_22 to disk instead.
23/09/26 20:55:45 WARN MemoryStore: Not enough space to cache rdd_279_18 in memory! (computed 28.9 MiB so far)
23/09/26 20:55:46 WARN MemoryStore: Not enough space to cache rdd_279_25 in memory! (computed 1025.1 KiB so far)
23/09/26 20:55:46 WARN BlockManager: Persisting block rdd_279_25 to disk instead.
23/09/26 20:55:46 WARN MemoryStore: Not enough space to cache rdd_279_24 in memory! (computed 11.6 MiB so far)
23/09/26 20:55:46 WARN BlockManager: Persisting block rdd_279_24 to disk instead.
23/09/26 20:55:46 WARN MemoryStore: Not enough space to cache rdd_279_0 in memory! (computed 3.5 MiB so far)
23/09/26 20:55:46 WARN MemoryStore: Not enough space to cache rdd_279_2 in memory! (computed 2.3 MiB so far)
23/09/26 20:55:46 WARN MemoryStore: Not enough space to cache rdd_279_7 in memory! (computed 5.2 MiB so far)
23/09/26 20:55:46 WARN MemoryStore: Not enough space to cache rdd_279_5 in memory! (computed 3.4 MiB so far)
23/09/26 20:55:46 WARN MemoryStore: Not enough space to cache rdd_279_3 in memory! (computed 5.1 MiB so far)
23/09/26 20:55:46 WARN MemoryStore: Not enough space to cache rdd_279_1 in memory! (computed 5.2 MiB so far)
23/09/26 20:55:46 WARN MemoryStore: Not enough space to cache rdd_279_4 in memory! (computed 5.4 MiB so far)
23/09/26 20:55:46 WARN MemoryStore: Not enough space to cache rdd_279_6 in memory! (computed 5.2 MiB so far)
23/09/26 20:55:48 WARN MemoryStore: Not enough space to cache rdd_279_9 in memory! (computed 12.6 MiB so far)
23/09/26 20:55:48 WARN MemoryStore: Not enough space to cache rdd_279_15 in memory! (computed 5.2 MiB so far)
23/09/26 20:55:48 WARN MemoryStore: Not enough space to cache rdd_279_11 in memory! (computed 19.0 MiB so far)
23/09/26 20:55:48 WARN MemoryStore: Not enough space to cache rdd_279_13 in memory! (computed 22.0 MiB so far)
23/09/26 20:55:53 WARN DAGScheduler: Broadcasting large task binary with size 4.9 MiB
23/09/26 20:56:55 WARN DAGScheduler: Broadcasting large task binary with size 4.9 MiB

+-----+--------+-----------------+-----+-------+-----+--------------------+-------------------+--------------------+
|JobID|WindowID|             City|State|Country| Zip5|           StartDate|            EndDate|      tfidf_features|
+-----+--------+-----------------+-----+-------+-----+--------------------+-------------------+--------------------+
|    1|       1|       Washington|   DC|     US|20531|2012-03-07 13:17:...|2012-04-06 23:59:59|(262144,[0,5,7,10...|
|    4|       1|        Charlotte|   NC|     US|28217|2012-03-21 02:03:...|2012-04-20 23:59:59|(262144,[1,2,5,8,...|
|    7|       1|      Winter Park|   FL|     US|32792|2012-03-02 16:36:...|2012-04-01 23:59:59|(262144,[0,2,4,10...|
|    8|       1|          Orlando|   FL|     US| null|2012-03-03 09:01:...|2012-04-02 23:59:59|(262144,[1,18,22,...|
|    9|       1|          Orlando|   FL|     US| null|2012-03-03 09:01:...|2012-04-02 23:59:59|(262144,[0,7,18,2...|
|   10|       1|     Ormond Beach|   FL|     US|32174|2012-03-05 14:21:...|2012-04-04 23:59:59|(262144,[0,2,4,11...|
|   11|       1|          Orlando|   FL|     US|32801|2012-03-06 09:21:...|2012-04-05 23:59:59|(262144,[0,22,26,...|
|   12|       1|          Orlando|   FL|     US|32808|2012-03-06 11:21:...|2012-04-05 23:59:59|(262144,[0,22,26,...|
|   13|       1|          Orlando|   FL|     US|32801|2012-03-06 16:06:...|2012-04-05 23:59:59|(262144,[0,19,22,...|
|   14|       1|      Winter Park|   FL|     US|32789|2012-03-07 10:21:...|2012-04-06 23:59:59|(262144,[0,10,14,...|
|   15|       1|      Los Angeles|   CA|     US|90011|2012-03-09 01:12:...|2012-04-08 23:59:59|(262144,[1,10,20,...|
|   16|       1|         Longwood|   FL|     US|32779|2012-03-08 05:09:...|2012-04-07 23:59:59|(262144,[0,3,18,2...|
|   17|       1|Altamonte Springs|   FL|     US|32714|2012-03-08 11:07:...|2012-04-07 23:59:59|(262144,[0,2,22,2...|
|   18|       1|          Orlando|   FL|     US|32819|2012-03-10 01:13:...|2012-04-09 23:59:59|(262144,[0,19,22,...|
|   19|       1|    Daytona Beach|   FL|     US|32114|2012-03-10 01:13:...|2012-04-09 23:59:59|(262144,[0,2,10,1...|
|   20|       1|           Oviedo|   FL|     US|32765|2012-03-10 01:13:...|2012-04-09 23:59:59|(262144,[0,2,5,7,...|
|   21|       1|          Orlando|   FL|     US|32804|2012-03-09 16:21:...|2012-04-08 23:59:59|(262144,[0,22,26,...|
|   22|       1|          Orlando|   FL|     US|32819|2012-03-09 16:51:...|2012-04-08 23:59:59|(262144,[0,1,2,3,...|
|   23|       1|Altamonte Springs|   FL|     US|32701|2012-03-09 17:06:...|2012-04-08 23:59:59|(262144,[0,22,26,...|
|   24|       1|       Windermere|   FL|     US|34786|2012-03-10 01:13:...|2012-04-09 23:59:59|(262144,[0,3,22,2...|
+-----+--------+-----------------+-----+-------+-----+--------------------+-------------------+--------------------+
only showing top 20 rows

23/09/26 20:56:55 WARN DAGScheduler: Broadcasting large task binary with size 8.9 MiB

In [47]:
# Numerically encode these columns ['City', 'State', 'Country', 'CurrentlyEmployed', 'ManagedOthers']
categorical_columns = ['City', 'State', 'Country']

for col in categorical_columns:
    encoded_column = col + "_encoded"
    string_indexer = StringIndexer(inputCol=col, outputCol=encoded_column)
    jobs_df = string_indexer.fit(jobs_df).transform(jobs_df)

columns_to_drop = ['City', 'State', 'Country']
jobs_df = jobs_df.drop(*columns_to_drop)
# Show the resulting DataFrame with the encoded column
jobs_df.show()

+-----+--------+-----+--------------------+-------------------+--------------------+------------+-------------+---------------+
|JobID|WindowID| Zip5|           StartDate|            EndDate|      tfidf_features|City_encoded|State_encoded|Country_encoded|
+-----+--------+-----+--------------------+-------------------+--------------------+------------+-------------+---------------+
|    1|       1|20531|2012-03-07 13:17:...|2012-04-06 23:59:59|(262144,[0,5,7,10...|        12.0|         32.0|            0.0|
|    4|       1|28217|2012-03-21 02:03:...|2012-04-20 23:59:59|(262144,[1,2,5,8,...|         6.0|          8.0|            0.0|
|    7|       1|32792|2012-03-02 16:36:...|2012-04-01 23:59:59|(262144,[0,2,4,10...|       480.0|          2.0|            0.0|
|    8|       1| null|2012-03-03 09:01:...|2012-04-02 23:59:59|(262144,[1,18,22,...|        17.0|          2.0|            0.0|
|    9|       1| null|2012-03-03 09:01:...|2012-04-02 23:59:59|(262144,[0,7,18,2...|        17.0|          2.0|            0.0|
|   10|       1|32174|2012-03-05 14:21:...|2012-04-04 23:59:59|(262144,[0,2,4,11...|      1401.0|          2.0|            0.0|
|   11|       1|32801|2012-03-06 09:21:...|2012-04-05 23:59:59|(262144,[0,22,26,...|        17.0|          2.0|            0.0|
|   12|       1|32808|2012-03-06 11:21:...|2012-04-05 23:59:59|(262144,[0,22,26,...|        17.0|          2.0|            0.0|
|   13|       1|32801|2012-03-06 16:06:...|2012-04-05 23:59:59|(262144,[0,19,22,...|        17.0|          2.0|            0.0|
|   14|       1|32789|2012-03-07 10:21:...|2012-04-06 23:59:59|(262144,[0,10,14,...|       480.0|          2.0|            0.0|
|   15|       1|90011|2012-03-09 01:12:...|2012-04-08 23:59:59|(262144,[1,10,20,...|         9.0|          0.0|            0.0|
|   16|       1|32779|2012-03-08 05:09:...|2012-04-07 23:59:59|(262144,[0,3,18,2...|       893.0|          2.0|            0.0|
|   17|       1|32714|2012-03-08 11:07:...|2012-04-07 23:59:59|(262144,[0,2,22,2...|       448.0|          2.0|            0.0|
|   18|       1|32819|2012-03-10 01:13:...|2012-04-09 23:59:59|(262144,[0,19,22,...|        17.0|          2.0|            0.0|
|   19|       1|32114|2012-03-10 01:13:...|2012-04-09 23:59:59|(262144,[0,2,10,1...|       253.0|          2.0|            0.0|
|   20|       1|32765|2012-03-10 01:13:...|2012-04-09 23:59:59|(262144,[0,2,5,7,...|      1452.0|          2.0|            0.0|
|   21|       1|32804|2012-03-09 16:21:...|2012-04-08 23:59:59|(262144,[0,22,26,...|        17.0|          2.0|            0.0|
|   22|       1|32819|2012-03-09 16:51:...|2012-04-08 23:59:59|(262144,[0,1,2,3,...|        17.0|          2.0|            0.0|
|   23|       1|32701|2012-03-09 17:06:...|2012-04-08 23:59:59|(262144,[0,22,26,...|       448.0|          2.0|            0.0|
|   24|       1|34786|2012-03-10 01:13:...|2012-04-09 23:59:59|(262144,[0,3,22,2...|      8566.0|          2.0|            0.0|
+-----+--------+-----+--------------------+-------------------+--------------------+------------+-------------+---------------+
only showing top 20 rows

23/09/26 20:57:06 WARN DAGScheduler: Broadcasting large task binary with size 9.3 MiB